body {
    z-index: -1;
    background-image: url("bg_imgs/bg3.webp");
    background-size: cover;
    backdrop-filter: blur(10px);
    margin: 0 auto;
    background-position: center;
}

.lenses {
    display: flex;
}

    .lenses .lens1 {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        border: solid 3px white;
        background-color: #00FFFF;
        margin: 10px
    }

    .lenses .lens2 {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border: solid 2px black;
        background-color: #ff0000;
        margin: 10px
    }

    .lenses .lens3 {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border: solid 2px black;
        background-color: #fcff00;
        margin: 10px
    }

    .lenses .lens4 {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border: solid 2px black;
        background-color: #41ff00;
        margin: 10px
    }

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    width: 60%;
}

    .container div {
        background-size: cover;
    }

    .container .header {
        display: flex;
        flex: 0 auto;
        border: solid 5px black;
        background-color: #d33434;
        align-items: self-start;
        justify-content: space-between;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }

h1 {
    text-decoration: underline;
    font-family: 'Sitka Text';
    margin-right: 10px;
}

.container .footer {
    font-size: medium;
    text-align: left;
    border: solid 5px black;
    background-color: #d33434;
    border-end-end-radius: 50px;
    border-end-start-radius: 50px;
    padding: 10px;
}

.body-container {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.line1 {
    flex: 0 auto;
    border: solid 5px black;
    background-color: #d33434;
}

.line2 {
    flex: 1 1 auto;
    border: solid 50px lightgray;
    background-color: #1f1b1b;
    border-radius: 30px;
}

.line3 {
    flex: 0 auto;
    border: solid 5px black;
    background-color: #d33434;
}

.line2 iframe {
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

    nav a {
        background-color: #41ff00d9;
        text-decoration: none;
        color: black;
        padding: 20px 0 20px 0;
        border: solid 2px gray;
        text-align: center;
    }

        nav a:hover {
            background-color: #00d8ff;
        }

.decoreAudio {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    margin-top: 5px;
}

    .decoreAudio div {
        height: 3px;
        width: 100px;
        background-color: black;
    }

@media screen and (max-width: 700px)
{
    .body-container
    {
        flex-direction: column;
    }
}